[submodule "submodules/simple-knn"]
	path = submodules/simple-knn
	url = https://gitlab.inria.fr/bkerbl/simple-knn.git
[submodule "submodules/diff-gaussian-rasterization"]
	path = submodules/diff-gaussian-rasterization
	url = https://github.com/rmurai0610/diff-gaussian-rasterization-w-pose.git
[submodule "submodules/evaluate_3d_reconstruction_lib"]
	path = submodules/evaluate_3d_reconstruction_lib
	url = https://github.com/eriksandstroem/evaluate_3d_reconstruction_lib.git
[submodule "submodules/diff-plane-rasterization"]
	path = submodules/diff-plane-rasterization
	url = git@github.com:JzHuai0108/diff-gaussian-rasterization.git
