# MonoGS requirements
submodules/simple-knn
submodules/diff-gaussian-rasterization
munch
ninja
opencv-python
opencv-contrib-python
trimesh
evo==1.19.1
open3d==0.17.0
matplotlib
plyfile
torchmetrics
imgviz
PyOpenGL
PyQt5
glfw
PyGLM
wandb
lpips
rich
ruff

