# MonoGS requirements
submodules/simple-knn
submodules/diff-gaussian-rasterization
submodules/diff-surfel-rasterization
# submodules/evaluate_3d_reconstruction
munch
ninja
opencv-python
opencv-contrib-python
trimesh
evo==1.19.1
open3d==0.17.0
matplotlib
plyfile
torchmetrics
imgviz
PyOpenGL
PyQt5
glfw
PyGLM
wandb
lpips
rich
ruff
# DPVO additional requirements
tensorboard
numba
einops
pypose
kornia
torch-scatter
yacs
rosbags

# nerf-vo requirements
appdirs
tyro
jaxtyping
comet-ml
newrawpy
viser==0.1.17
nuscenes-devkit
nerfacc
splines
mediapy
pymeshlab
timm

# omnidata requirements
h5py
pytorch_lightning
