submodules/simple-knn
submodules/diff-gaussian-rasterization
munch
ninja
opencv-python-headless
opencv-contrib-python
trimesh
evo==1.11.0
open3d==0.17.0
matplotlib==3.5.3
plyfile
torchmetrics
imgviz
PyOpenGL
PyQt5
glfw
PyGLM
wandb
lpips
rich
ruff

